**/.astro/dbt_metadata.json
**/.astro/manifest.slim.json
.DS_Store
.astro/*.local.yaml
.astro/*.local.yml
.astro/standalone/
.astro/worktrees/
.env
.git
.idea/
.python-version
.venv
__pycache__/
airflow-webserver.pid
airflow.cfg
airflow.db
airflow_settings.yaml
astro
pyproject.toml
uv.lock
webserver_config.py
blueprint_shared_templates_demo-0.1.0-py3-none-any.whl
